# SMTP Configuration for Contact Form
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=mainalawrence32@gmail
SMTP_PASS=zknd equs qpgq nzbk
SMTP_SECURE=false

# Recipient Email
CONTACT_EMAIL=mainalawrence32@gmail
